<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">

<title>_form.html.haml - RDoc Documentation</title>

<script type="text/javascript">
  var rdoc_rel_prefix = "../../../../";
</script>

<script src="../../../../js/jquery.js"></script>
<script src="../../../../js/darkfish.js"></script>

<link href="../../../../css/fonts.css" rel="stylesheet">
<link href="../../../../css/rdoc.css" rel="stylesheet">



<body id="top" role="document" class="file">
<nav role="navigation">
  <div id="project-navigation">
    <div id="home-section" role="region" title="Quick navigation" class="nav-section">
  <h2>
    <a href="../../../../index.html" rel="home">Home</a>
  </h2>

  <div id="table-of-contents-navigation">
    <a href="../../../../table_of_contents.html#pages">Pages</a>
    <a href="../../../../table_of_contents.html#classes">Classes</a>
    <a href="../../../../table_of_contents.html#methods">Methods</a>
  </div>
</div>

    <div id="search-section" role="search" class="project-section initially-hidden">
  <form action="#" method="get" accept-charset="utf-8">
    <div id="search-field-wrapper">
      <input id="search-field" role="combobox" aria-label="Search"
             aria-autocomplete="list" aria-controls="search-results"
             type="text" name="search" placeholder="Search" spellcheck="false"
             title="Type to search, Up and Down to navigate, Enter to load">
    </div>

    <ul id="search-results" aria-label="Search Results"
        aria-busy="false" aria-expanded="false"
        aria-atomic="false" class="initially-hidden"></ul>
  </form>
</div>

  </div>

  

  <div id="project-metadata">
    <div id="fileindex-section" class="nav-section">
  <h3>Pages</h3>

  <ul class="link-list">
  
    <li><a href="../../../../CHANGELOG_md.html">CHANGELOG</a>
  
    <li><a href="../../../../Gemfile.html">Gemfile</a>
  
    <li><a href="../../../../Gemfile_lock.html">Gemfile.lock</a>
  
    <li><a href="../../../../MIT-LICENSE.html">MIT-LICENSE</a>
  
    <li><a href="../../../../README_md.html">README</a>
  
    <li><a href="../../../../Rakefile.html">Rakefile</a>
  
    <li><a href="../../../../app/assets/images/shoppe/document_svg.html">document.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/bag_svg.html">bag.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/balance_svg.html">balance.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/box_svg.html">box.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/building_svg.html">building.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/chart_svg.html">chart.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/chat_svg.html">chat.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/checkbox_svg.html">checkbox.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/checkbox2_svg.html">checkbox2.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/cloud_svg.html">cloud.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/cone_svg.html">cone.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/credit_card_svg.html">credit_card.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/currency_svg.html">currency.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/edit_svg.html">edit.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/flowchart_svg.html">flowchart.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/gift_svg.html">gift.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/globe_svg.html">globe.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/id_svg.html">id.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/id2_svg.html">id2.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/locked_svg.html">locked.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/report_svg.html">report.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/search_svg.html">search.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/support_svg.html">support.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/tags_svg.html">tags.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/toolbox_svg.html">toolbox.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/unlocked_svg.html">unlocked.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/icons/wallet_svg.html">wallet.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/logo_svg.html">logo.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/move_svg.html">move.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/shoppe_svg.html">shoppe.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/square_svg.html">square.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/statuses/accepted_svg.html">accepted.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/statuses/paid_svg.html">paid.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/statuses/received_svg.html">received.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/statuses/rejected_svg.html">rejected.svg</a>
  
    <li><a href="../../../../app/assets/images/shoppe/statuses/shipped_svg.html">shipped.svg</a>
  
    <li><a href="../../../../app/assets/javascripts/shoppe/application_coffee.html">application.coffee</a>
  
    <li><a href="../../../../app/assets/javascripts/shoppe/chosen_jquery_js.html">chosen.jquery.js</a>
  
    <li><a href="../../../../app/assets/javascripts/shoppe/jquery_ui_js.html">jquery_ui.js</a>
  
    <li><a href="../../../../app/assets/javascripts/shoppe/mousetrap_js.html">mousetrap.js</a>
  
    <li><a href="../../../../app/assets/javascripts/shoppe/order_form_coffee.html">order_form.coffee</a>
  
    <li><a href="../../../../app/assets/stylesheets/shoppe/application_scss.html">application.scss</a>
  
    <li><a href="../../../../app/assets/stylesheets/shoppe/chosen_scss.html">chosen.scss</a>
  
    <li><a href="../../../../app/assets/stylesheets/shoppe/dialog_scss.html">dialog.scss</a>
  
    <li><a href="../../../../app/assets/stylesheets/shoppe/elements_scss.html">elements.scss</a>
  
    <li><a href="../../../../app/assets/stylesheets/shoppe/printable_scss.html">printable.scss</a>
  
    <li><a href="../../../../app/assets/stylesheets/shoppe/reset_scss.html">reset.scss</a>
  
    <li><a href="../../../../app/assets/stylesheets/shoppe/sub_scss.html">sub.scss</a>
  
    <li><a href="../../../../app/assets/stylesheets/shoppe/variables_scss.html">variables.scss</a>
  
    <li><a href="../../../../app/views/layouts/shoppe/application_html_haml.html">application.html.haml</a>
  
    <li><a href="../../../../app/views/layouts/shoppe/printable_html_haml.html">printable.html.haml</a>
  
    <li><a href="../../../../app/views/layouts/shoppe/sub_html_haml.html">sub.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/addresses/_form_html_haml.html">_form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/addresses/edit_html_haml.html">edit.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/addresses/new_html_haml.html">new.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/countries/_form_html_haml.html">_form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/countries/edit_html_haml.html">edit.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/countries/index_html_haml.html">index.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/countries/new_html_haml.html">new.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/customers/_addresses_html_haml.html">_addresses.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/customers/_form_html_haml.html">_form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/customers/_search_form_html_haml.html">_search_form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/customers/edit_html_haml.html">edit.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/customers/index_html_haml.html">index.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/customers/new_html_haml.html">new.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/customers/show_html_haml.html">show.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/delivery_service_prices/_form_html_haml.html">_form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/delivery_service_prices/edit_html_haml.html">edit.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/delivery_service_prices/index_html_haml.html">index.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/delivery_service_prices/new_html_haml.html">new.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/delivery_services/_form_html_haml.html">_form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/delivery_services/edit_html_haml.html">edit.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/delivery_services/index_html_haml.html">index.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/delivery_services/new_html_haml.html">new.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/orders/_form_html_haml.html">_form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/orders/_order_details_html_haml.html">_order_details.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/orders/_order_items_html_haml.html">_order_items.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/orders/_order_items_form_html_haml.html">_order_items_form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/orders/_payments_form_html_haml.html">_payments_form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/orders/_payments_table_html_haml.html">_payments_table.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/orders/_search_form_html_haml.html">_search_form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/orders/_status_bar_html_haml.html">_status_bar.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/orders/despatch_note_html_haml.html">despatch_note.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/orders/edit_html_haml.html">edit.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/orders/index_html_haml.html">index.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/orders/new_html_haml.html">new.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/orders/show_html_haml.html">show.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/password_resets/new_html_haml.html">new.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/payments/refund_html_haml.html">refund.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/product_categories/_form_html_haml.html">_form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/product_categories/edit_html_haml.html">edit.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/product_categories/index_html_haml.html">index.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/product_categories/new_html_haml.html">new.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/product_category_localisations/form_html_haml.html">form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/product_category_localisations/index_html_haml.html">index.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/product_localisations/form_html_haml.html">form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/product_localisations/index_html_haml.html">index.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/products/_form_html_haml.html">_form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/products/_table_html_haml.html">_table.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/products/edit_html_haml.html">edit.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/products/import_html_haml.html">import.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/products/index_html_haml.html">index.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/products/new_html_haml.html">new.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/sessions/new_html_haml.html">new.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/settings/edit_html_haml.html">edit.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/shared/error_html_haml.html">error.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/stock_level_adjustments/index_html_haml.html">index.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/tax_rates/form_html_haml.html">form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/tax_rates/index_html_haml.html">index.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/users/_form_html_haml.html">_form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/users/edit_html_haml.html">edit.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/users/index_html_haml.html">index.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/users/new_html_haml.html">new.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/variants/form_html_haml.html">form.html.haml</a>
  
    <li><a href="../../../../app/views/shoppe/variants/index_html_haml.html">index.html.haml</a>
  
    <li><a href="../../../../db/countries_txt.html">countries</a>
  
    <li><a href="../../../../lib/tasks/shoppe_rake.html">shoppe.rake</a>
  
    <li><a href="../../../../shoppe_gemspec.html">shoppe.gemspec</a>
  
    <li><a href="../../../../test/app/README_rdoc.html">README</a>
  
    <li><a href="../../../../test/app/Rakefile.html">Rakefile</a>
  
    <li><a href="../../../../test/app/app/assets/javascripts/application_js.html">application.js</a>
  
    <li><a href="../../../../test/app/app/assets/stylesheets/application_css.html">application.css</a>
  
    <li><a href="../../../../test/app/config_ru.html">config.ru</a>
  
    <li><a href="../../../../test/app/log/test_log.html">test.log</a>
  
    <li><a href="../../../../test/app/public/404_html.html">404.html</a>
  
    <li><a href="../../../../test/app/public/422_html.html">422.html</a>
  
    <li><a href="../../../../test/app/public/500_html.html">500.html</a>
  
    <li><a href="../../../../test/app/public/favicon_ico.html">favicon.ico</a>
  
  </ul>
</div>

  </div>
</nav>

<main role="main" aria-label="Page app/views/shoppe/products/_form.html.haml">

<h1 id="label-form_for+-40product-2C+-3Ahtml+-3D-3E+-7B-3Amultipart+-3D-3E+true-7D+do+-7Cf-7C">form_for @product, :html =&gt; {:multipart =&gt; true} do |f|<span><a href="#label-form_for+-40product-2C+-3Ahtml+-3D-3E+-7B-3Amultipart+-3D-3E+true-7D+do+-7Cf-7C">&para;</a> <a href="#top">&uarr;</a></span></h1>

<pre>= f.error_messages
= field_set_tag  t(&#39;shoppe.products.product_information&#39;) do
  %dl
    %dt= f.label :product_categories, t(&#39;shoppe.product_category.product_categories&#39;)
    %dd= f.collection_select :product_category_ids, Shoppe::ProductCategory.ordered, :id, :name, {:prompt =&gt; false}, {:class =&gt; &#39;chosen&#39;, :multiple =&gt; true, :data =&gt; {:placeholder =&gt; t(&#39;shoppe.product_category.choose_product_category&#39;) } }

  .splitContainer
    %dl.third
      %dt= f.label :name, t(&#39;shoppe.products.name&#39;)
      %dd= f.text_field :name, :class =&gt; &#39;text focus&#39;, :required =&gt; true
    %dl.third
      %dt= f.label :permalink, t(&#39;shoppe.products.permalink&#39;)
      %dd= f.text_field :permalink, :class =&gt; &#39;text&#39;
    %dl.third
      %dt= f.label :sku, t(&#39;shoppe.products.sku&#39;)
      %dd= f.text_field :sku, :class =&gt; &#39;text&#39;, :required =&gt; true
  %dl
    %dt= f.label :description, t(&#39;shoppe.products.description&#39;)
    %dd= f.text_area :description, :class =&gt; &#39;text&#39;, :required =&gt; true
  %dl
    %dt= f.label :short_description, t(&#39;shoppe.products.short_description&#39;)
    %dd= f.text_area :short_description, :class =&gt; &#39;text&#39;, :required =&gt; true
  %dl
    %dt= f.label :in_the_box, t(&#39;shoppe.products.in_the_box&#39;)
    %dd= f.text_area :in_the_box, :class =&gt; &#39;text&#39;

= field_set_tag t(&#39;shoppe.products.attributes&#39;) do
  .margin
    %table.productAttributes
      %thead
        %tr
          %td= t(&#39;shoppe.products.name&#39;)
          %td= t(&#39;shoppe.products.value&#39;)
          %td.searchable= t(&#39;shoppe.products.searchable?&#39;)
          %td.searchable= t(&#39;shoppe.products.public?&#39;)
          %td.remove= t(&#39;shoppe.products.remove&#39;)
          %td
      %tbody
        %tr.template{:style =&gt; &#39;display:none;&#39;}
          %td= text_field_tag &#39;product[product_attributes_array][][key]&#39;, &#39;&#39;, :placeholder =&gt; t(&#39;shoppe.products.name&#39;)
          %td= text_field_tag &#39;product[product_attributes_array][][value]&#39;, &#39;&#39;, :placeholder =&gt; t(&#39;shoppe.products.value&#39;)
          %td.searchable= check_box_tag &#39;product[product_attributes_array][][searchable]&#39;, &#39;1&#39;
          %td.searchable= check_box_tag &#39;product[product_attributes_array][][public]&#39;, &#39;1&#39;
          %td.remove= link_to t(&#39;shoppe.remove&#39;) , &#39;#&#39;, :class =&gt; &#39;button button-mini purple&#39;
          %td.handle
        - for attribute in @product.product_attributes
          %tr
            %td= text_field_tag &#39;product[product_attributes_array][][key]&#39;, attribute.key, :placeholder =&gt; t(&#39;shoppe.products.name&#39;)
            %td= text_field_tag &#39;product[product_attributes_array][][value]&#39;, attribute.value, :placeholder =&gt; t(&#39;shoppe.products.value&#39;)
            %td.searchable= check_box_tag &#39;product[product_attributes_array][][searchable]&#39;, &#39;1&#39;, attribute.searchable?
            %td.searchable= check_box_tag &#39;product[product_attributes_array][][public]&#39;, &#39;1&#39;, attribute.public?
            %td.remove= link_to t(&quot;shoppe.remove&quot;), &#39;#&#39;, :class =&gt; &#39;button button-mini purple&#39;
            %td.handle
    %p.addAttribute= link_to t(&#39;shoppe.products.add_attribute&#39;) , &#39;#&#39;, :data =&gt; {:behavior =&gt; &#39;addAttributeToAttributesTable&#39;}, :class =&gt; &#39;button button-mini green&#39;

= field_set_tag t(&#39;shoppe.products.attachments&#39;) do
  .splitContainer
    %dl.half
      %dt= f.label &quot;attachments[default_image][file]&quot;, t(&#39;shoppe.products.default_image&#39;)
      %dd
        = attachment_preview @product.default_image
        %p= f.file_field &quot;attachments[default_image][file]&quot;
        = f.hidden_field &quot;attachments[default_image][role]&quot;, value: &quot;default_image&quot;
        = f.hidden_field &quot;attachments[default_image][parent_id]&quot;, value: @product.id
    %dl.half
      %dt= f.label &quot;attachments[data_sheet][file]&quot;, t(&#39;shoppe.products.datasheet&#39;)
      %dd
        = attachment_preview @product.data_sheet
        %p= f.file_field &quot;attachments[data_sheet][file]&quot;
        = f.hidden_field &quot;attachments[data_sheet][role]&quot;, value: &quot;data_sheet&quot;
        = f.hidden_field &quot;attachments[data_sheet][parent_id]&quot;, value: @product.id

  .splitContainer.extraAttachments
    %dl.half
      %dd
        = attachment_preview nil, hide_if_blank: false
        %p= f.file_field &quot;attachments[extra][file]&quot;, :multiple =&gt; true
        = f.hidden_field &quot;attachments[extra][parent_type]&quot;, value: &quot;Shoppe::Product&quot;
        = f.hidden_field &quot;attachments[extra][parent_id]&quot;, value: @product.id

    - @product.attachments.each do |attachment|
      - unless [&quot;default_image&quot;, &quot;data_sheet&quot;].include?(attachment.role)
        %dl.half
          %dd
            = attachment_preview attachment

  %p.addAttachments= link_to t(&#39;shoppe.products.add_attachments&#39;) , &#39;#&#39;, :data =&gt; {:behavior =&gt; &#39;addAttachmentToExtraAttachments&#39;}, :class =&gt; &#39;button button-mini green&#39;

- unless @product.has_variants?
  = field_set_tag t(&#39;shoppe.products.pricing&#39;) do
    .splitContainer
      %dl.third
        %dt= f.label :price, t(&#39;shoppe.products.price&#39;)
        %dd
          .moneyInput
            .currency= Shoppe.settings.currency_unit.html_safe
            = f.text_field :price, :class =&gt; &#39;text&#39;
      %dl.third
        %dt= f.label :cost_price, t(&#39;shoppe.products.cost_price&#39;)
        %dd
          .moneyInput
            .currency= Shoppe.settings.currency_unit.html_safe
            = f.text_field :cost_price, :class =&gt; &#39;text&#39;
      %dl.third
        %dt= f.label :tax_rate_id, t(&#39;shoppe.products.tax_rate&#39;)
        %dd= f.collection_select :tax_rate_id, Shoppe::TaxRate.ordered, :id, :description, {:include_blank =&gt; true}, {:class =&gt; &#39;chosen-with-deselect&#39;, :data =&gt; {:placeholder =&gt; t(&#39;shoppe.products.no_tax&#39;)}}

  = field_set_tag  t(&#39;shoppe.products.stock_control&#39;) do
    .splitContainer
      %dl.half
        %dt= f.label :weight, t(&#39;shoppe.products.weight&#39;)
        %dd= f.text_field :weight, :class =&gt; &#39;text&#39;

      %dl.half
        %dt= f.label :stock_control,  t(&#39;shoppe.products.stock_control&#39;)
        %dd.checkbox
          = f.check_box :stock_control
          = f.label :stock_control, t(&#39;shoppe.products.enable_stock_control?&#39;)

= field_set_tag  t(&#39;shoppe.products.website_properties&#39;) do
  .splitContainer
    %dl.half
      %dt= f.label :active,  t(&#39;shoppe.products.on_sale?&#39;)
      %dd.checkbox
        = f.check_box :active
        = f.label :active,  t(&#39;shoppe.products.on_sale_info&#39;)
    %dl.half
      %dt= f.label :featured,  t(&#39;shoppe.products.featured?&#39;)
      %dd.checkbox
        = f.check_box :featured
        = f.label :featured, t(&#39;shoppe.products.featured_info&#39;)

%p.submit
  - unless @product.new_record?
    %span.right= link_to t(&#39;shoppe.delete&#39;) , @product, :class =&gt; &#39;button purple&#39;, :method =&gt; :delete, :data =&gt; {:confirm =&gt; &quot;Are you sure you wish to remove this product?&quot;}
  = f.submit t(&#39;shoppe.submit&#39;),  :class =&gt; &#39;button green&#39;
  = link_to t(&#39;shoppe.cancel&#39;), :products, :class =&gt; &#39;button&#39;</pre>
</main>



<footer id="validator-badges" role="contentinfo">
  <p><a href="http://validator.w3.org/check/referer">Validate</a>
  <p>Generated by <a href="http://docs.seattlerb.org/rdoc/">RDoc</a> 4.3.0.
  <p>Based on <a href="http://deveiate.org/projects/Darkfish-RDoc/">Darkfish</a> by <a href="http://deveiate.org">Michael Granger</a>.
</footer>

